<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">



    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.knob.js"></script>
    <script type="text/javascript" src="javascripts/control.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    
  </head>
  <body>
	  

	  <div class="touch-area">
      <p class="player-name"></p> 
    </div>

  </body>
</html>